{% if theme_config['sidebarEnabled'] == 'inactive' %}
<div id="sidebar" class="inactive">
{% else %}
<div id="sidebar">
{% endif %}

    <div class="inner">

        {#
        <!-- Search -->
        {% include 'partials/simplesearch_searchbox.html.twig' %}
        #}
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <!--<h2>Menu</h2>-->
            </header>
            {% include 'partials/navigation.html.twig' %}
        </nav>

        {#
        <!-- Featured Section -->
        {% include 'partials/featured.html.twig' %}

        <!-- Contact Section -->
        {% include 'partials/contact.html.twig' %}

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ site.title|e('html') }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
        #}

    </div>
</div>
